.Ratiodisplay {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 72%;
    padding-bottom: 1em;
}

.Ratiodisplay-title {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ffffff;
    font-size: 1.3em;
    padding-bottom: 1em;
}

.Ratiodisplay-display {
    flex: 3;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    font-size: 2em;
    height: 2em;
}

.Ratiodisplay-display h3 {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 1.1em;
    padding-left: 2px;
    color: #585858;
}

.flash {
    background-color: red;
}